@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@300&display=swap');

:root {
    --font-primary: 'Cinzel', serif;
    --font-secondary: 'Montserrat', sans-serif;
    --color-primary: #424874;
    --color-secondary: #A6B1E1;
    --color-third: #F4EEFF;
    --color-white: #fff;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

/************************* Start Header *************************/
header {
    position: fixed;
    width: 100%;
}

nav {
    background-color: var(--color-primary);
    width: 100%;
    height: 80px;
}

ul {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

li {
    list-style: none;
    cursor: pointer;
    width: max-content;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-secondary);
    color: var(--color-white);
    font-weight: bold;
}
/************************* End Header *************************/

main {
    width: 100%;
}

/************************* Start Section Profile *************************/
.section-profile {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 8rem;
    padding-block-end: 3rem;
}

.section-profile img {
    width: 400px;
}

.title-name {
    font-family: var(--font-primary);
    color: var(--color-white);
    font-weight: 900;
    font-size: 2rem;
}

.subtitle {
    color: var(--color-white);
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    margin-inline: 1rem;
}
/************************* End Section Profile *************************/

/************************* Start Section About *************************/
.section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-third);
    color: var(--color-primary);
    padding-block: 3rem;
}

.section-about h1{
    color: var(--color-primary);
    font-family: var(--font-primary);
}

.separator-a {
    width: 8%;
    margin-block: 5px;
}

.text-about {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.text-about p {
    font-family: var(--font-secondary);
    font-size: 18px;
    text-align: justify;
    margin-block: 10px;
}
/************************* End Section About *************************/

/************************* Start Section Portfolio *************************/
.section-protfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-secondary);
    color: var(--color-white);
    padding-block: 3rem;
}

.section-protfolio h1{
    color: var(--color-white);
    font-family: var(--font-primary);
}

.separator-p {
    width: 10%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards img{
    width: 25em;
    padding: 7px;
    margin: 7px;
}

.card-content {
    display: flex;
    justify-content: space-evenly;
}

.card-content a {
    text-decoration: none;
    font-family: var(--font-secondary);
    font-weight: bold;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    border-radius: 3px;
    padding: 0.5em 0.5em 0.5em;
}

/************************* End Section Portfolio *************************/

/************************* Start Section Tools *************************/
.section-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-third);
    padding-block: 3rem;
}

.section-tools h1 {
    color: var(--color-primary);
}

.separator-h {
    width: 13%;
}

.tools-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 800px;
}

figure img {
    width: 4rem;
    margin-block-start: 2rem;
    margin-inline: 1.2rem;
}

figcaption {
    text-align: center;
    color: var(--color-primary);
    font-family: var(--font-secondary);
    font-size: 10px;
    font-weight: bold;
    margin-inline: 1.2rem;
}
/************************* End Section Tools *************************/

/************************* Start Contact *************************/
.section-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-secondary);
    padding-block: 3rem;
}

.section-contact h1 {
    color: var(--color-white);
    font-family: var(--font-primary);
}

.separator-c {
    width: 10%;
    margin-block-end: 30px;
}

.section-social a{
    margin-inline:  18px;
    text-decoration: none;
    color: var(--color-primary);
    font-size: 30px;
}
/************************* End Contact *************************/

/************************* Start Footer *************************/
footer {
    width: 100%;
    height: 50px;
    background: var(--color-primary);
}

footer h6 {
    color: var(--color-white);
    font-family: var(--font-secondary);
    font-size: 15px;
    text-align: center;
    padding-block-start: 1rem;
}
/************************* End Footer *************************/
